<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Tax System</title>
</head>
<body>
<div layout:fragment="main-content">
    <h1>
     Welcome!
    </h1>

    <div sec:authorize="!isAuthenticated()">Login to see your special message.</div>
    <div sec:authorize="hasAuthority('ROLE_ACTOR')">Hi, you are a boring actor.</div>
    <div sec:authorize="hasAuthority('ROLE_NOTARY')">Hi, you are a normal notary.</div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">Hi, you are a powerful admin.</div>
</div>
</body>
</html>